<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<header class="flex">
    <div>Logga</div>
    
    @{
        DateTime date = DateTime.Now;
    }
    
    <div id="date">@date</div>
</header>
<div class="container flex">
    <aside>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/Razor">Razor</a></li>
            <li><a href="/About">Om sidan</a></li>
        </ul>
    </aside>
    <main>
        @RenderBody()
    </main>
</div>

<script src="js/main.js"></script>
</body>
</html>