@page
@model dt191g_moment12_empty.Pages.About

@{
    // Layout = null;
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>
<div class="text-container">
    <h2>Lite om mig</h2>
    <p>Hej där! Amanda är mitt namn och jag har gjort denna webbapplikation i samband med mina
        studier på Mittuniversitetet. Jag går webbutvecklingsprogrammet och kursen jag läser just 
        i detta nu heter Webbutveckling med .NET. Denna sidan är alltså skapad i .NET.</p>
    <p>Sommaren 2022 beräknas jag ta min examen, så nu ser man ljuset i tunneln! Men jag kommer
        sakna mina klasskompisar och mina lärare. Jag hoppas på en avslutningsmiddag så man får 
        träffa allihopa!</p>
</div>

<div class="img-container">
    <img src="images/memoji.png" alt="Memoji Amanda"/>
</div>
